<div class="headline"><h2>ニュースレター</h2></div> 
<p>ニュースレターを購読して、最新のニュースやお得な情報を入手してください！</p>
<form class="footer-subscribe" action="{{site.data.links.newsletter.subscribe}}" onkeypress="return event.keyCode != 13;">
    <input type="hidden" name="list" value="{{site.data.links.newsletter.apikey}}">
    <input type="hidden" name="boolean" value="true">                        
    <input type="hidden" name="name" value="">                        

    <div class="input-group">
        <input type="email" name="email" id="" class="form-control open-modal" placeholder="メールアドレス" />
        <span class="input-group-btn">
            <button class="btn-u sendy" type="button">申し込む</button>
        </span>
    </div>
</form>

<script type="text/javascript">
    var message = {
    	'a': '未入力の項目があります。',
    	'b': 'メールアドレスの形式が正しくありません。',
    	'c': '申し訳ありません。正しく登録できなかったため、もう一度やり直してください。',
    	'd': '「知らせて.jp」ニュースレターの購読登録が完了しました。',
    	'e': 'ありがとうございます。あなたの「知らせて.jp」ニュースレター用のプロフィールを更新しました。',
        'f': '「知らせて.jp」ニュースレターの購読を退会しました。',
        'g': 'A confirmation email has been sent to you email address.'
    };
</script>
