<div class="headline"><h2>ニュースレター</h2></div> 
<p>ニュースレターを購読し、最新のニュースやお得な情報を最新の状態に滞在！</p>
<form class="footer-subscribe" action="{{site.data.links.newsletter.subscribe}}" onkeypress="return event.keyCode != 13;">
    <input type="hidden" name="list" value="{{site.data.links.newsletter.apikey}}">
    <input type="hidden" name="boolean" value="true">                        
    <input type="hidden" name="name" value="">                        

    <div class="input-group">
        <input type="email" name="email" class="form-control" placeholder="メールアドレス" />
        <span class="input-group-btn">
            <button class="btn-u sendy" type="button">申し込む</button>
        </span>
    </div>
</form>

<script type="text/javascript">
    var message = {
    	'a': 'Some fields are missing.',
    	'b': 'Invalid email address.',
    	'c': 'Sorry, unable to subscribe. Please try again later!',
    	'd': 'You have been subscribed to the 知らせて.jp Newsletter.',
    	'e': 'Thank you. Your 知らせて.jp Newsletter profile has been updated.',
        'f': 'You have been unsubscribed from the 知らせて.jp Newsletter.'
    };
</script>
