<div class="headline"><h2>Stay Connected</h2></div> 
<ul class="social-icons">
	<li><a href="{{site.baseurl}}feed.rss" data-original-title="Feed" class="social_rss"></a></li>
    <li><a href="https://www.facebook.com/shirasete.jp" data-original-title="Facebook" class="social_facebook"></a></li>
    <li><a href="https://twitter.com/shirasetejp" data-original-title="Twitter" class="social_twitter"></a></li>
    <li><a href="https://plus.google.com/+ShiraseteJpn" data-original-title="Goole Plus" class="social_googleplus"></a></li>
</ul>