---
layout: callout
title: 市民と行政の為のコラボレーション
slug: index
---

<div class="title-box">
    <div class="title-box-text">次世代<span class="color-green">オープン</span>ガバメント</div>
    <p>「知らせて.jp」市民と行政の為のコラボレーション</p>
</div>

<div class="row">
    {% include widgets/features.html %}
</div>

<div class="purchase">
    {% include widgets/contact.html %}
</div>

<div class="row">
        <!-- Tagline Box -->
        <div class="col-md-6">
            <div class="tag-box tag-box-v3">
                <h2>「知らせて.jp」は、</h2>
                <p>市民と行政の為のコラボレーション環境で、街に関するレポートをスマートフォンやウェブサイトから簡単に投稿・共有ができるサービスです。
	                <ul class="list-unstyled">  
	                    <li><i class="icon-ok color-green"></i> 知らせて.jpを使うことで、</li>
	                    <li><i class="icon-ok color-green"></i> 市民との取り決めを促進します</li>
	                    <li><i class="icon-ok color-green"></i> 地域の協同作業を促進します</li>
	                    <li><i class="icon-ok color-green"></i> 街のメンテナンスのワークフローを最適化します</li>
	                    <li><i class="icon-ok color-green"></i> 街の状態の透明性と可視性を高めます</li>
	                </ul>  
				</p>
            </div>            
        </div>
        <!-- End Tagline Box -->

        <!-- Clients Testimonials -->
        <div class="col-md-6">
            <div class="carousel slide testimonials testimonials-v1" id="testimonials-1">
                <div class="carousel-inner">
                    <div class="item">
                        <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                        <div class="testimonial-info">
                            <img alt="" src="assets/img/testimonials/img1.jpg">
                            <span class="testimonial-author">
                                Jeremy Asigner 
                                <em>Web Developer, Unify Theme.</em>
                            </span>
                        </div>
                    </div>
                    <div class="item active">
                        <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                        <div class="testimonial-info">
                            <img alt="" src="assets/img/testimonials/user.jpg">
                            <span class="testimonial-author">
                                User 
                                <em>Java Developer, Htmlstream</em>
                            </span>
                        </div>
                    </div>
                    <div class="item">
                        <p>Crasjusto ducimus qui cupiditate non provident, similique sunt in culpaid est anditiis praesentium praesentium blanditiis praesentium non provident, similique sunt in culpaid est anditiis praesentium praesentium..</p>
                        <div class="testimonial-info">
                            <img alt="" src="assets/img/testimonials/img2.jpg">
                            <span class="testimonial-author">
                                Kate Davenport 
                                <em>Web Designer, Google Inc.</em>
                            </span>
                        </div>                                
                    </div>
                </div>
                
                <div class="carousel-arrow">
                    <a data-slide="prev" href="#testimonials-1" class="left carousel-control">
                        <i class="icon-angle-left"></i>
                    </a>
                    <a data-slide="next" href="#testimonials-1" class="right carousel-control">
                        <i class="icon-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- End Clients Testimonials -->
    </div>
