<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-6">            
        <p class="copyright-space">
          © 2014 <a href="http://georepublic.info">Georepublic</a>. All rights reserved. 
        </p>
      </div>
      <div class="col-md-6">  
        <a href="http://georepublic.info">
          <img id="logo-footer" src="{{site.baseurl}}assets/img/logo2-georepublic.png" class="pull-right" alt="Logo" />
        </a>
      </div>
    </div><!--/row-->
  </div><!--/container--> 
</div><!--/copyright--> 
