<div id="features">
    <div class="container">
        <div class="section_header">
            <h3>機能</h3>
        </div> 
        <div class="row feature">
            <div class="col-sm-6">
                <img src="img/showcase1.png" class="img-responsive" />
            </div>
            <div class="col-sm-6 info">
                <h3>
                    <img src="img/features-ico1.png" />
                    市民参画の支援
                </h3>
                <p>
                    自治体はいうまでもなく公共サービスの提供者ですが、魔法の杖を持っている訳ではありません。提供者と受益者という二元的な関係だけが続くと、受益者側はいつしかそのことが当たり前になって高コストなサービスを受けることが当然の権利のように思えてくる場合があります。限られた財源をどのように配分してどのようなサービスを提供するのか、あるいはどのような街の課題を解決して行くのか、市民と行政がともに考えることが重要です。行政は街の運営を市民から預託されているのだということを忘れてはなりません。街を経営する、その主体は市民自身です。日常的にはそういった市民参画の機会はなかなかありません。「知らせて.jp」は日常的なさりげないシーンの中から、市民参画の機会を作り出します。
                </p>
            </div>
        </div>
        <div class="row feature">
            <div class="col-sm-6 pic-right">
                <img src="img/showcase2.png" class="pull-right img-responsive" />
            </div>
            <div class="col-sm-6 info info-left">
                <h3>
                    <img src="img/features-ico2.png" />
                    協働の促進
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
                </p>
            </div>                
        </div>
        <div class="row feature">
            <div class="col-sm-6">
                <img src="img/showcase3.png" class="img-responsive" />
            </div>
            <div class="col-sm-6 info">
                <h3>
                    <img src="img/features-ico3.png" />
                    運営ワークフローの最適化
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
                </p>
            </div>
        </div>
        <div class="row feature">
            <div class="col-sm-6 pic-right">
                <img src="img/showcase4.png" class="img-responsive" />
            </div>
            <div class="col-sm-6 info">
                <h3>
                    <img src="img/features-ico3.png" />
                    透明性と可視化の醸成
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
                </p>
            </div>
        </div>
    </div>
</div>
