<div id="features">
    <div class="container">
        <div class="section_header">
            <h3>Features</h3>
        </div> 
        <div class="row feature">
            <div class="col-sm-6">
                <img src="img/showcase1.png" class="img-responsive" />
            </div>
            <div class="col-sm-6 info">
                <h3>
                    <img src="img/features-ico1.png" />
                    Facilitates Citizen Engagement
                </h3>
                <p>
                    There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                </p>
            </div>
        </div>
        <div class="row feature">
            <div class="col-sm-6 pic-right">
                <img src="img/showcase2.png" class="pull-right img-responsive" />
            </div>
            <div class="col-sm-6 info info-left">
                <h3>
                    <img src="img/features-ico2.png" />
                    Promotes Local Collaboration
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
                </p>
            </div>                
        </div>
        <div class="row feature">
            <div class="col-sm-6">
                <img src="img/showcase3.png" class="img-responsive" />
            </div>
            <div class="col-sm-6 info">
                <h3>
                    <img src="img/features-ico3.png" />
                    Optimizes Maintenance Workflows
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
                </p>
            </div>
        </div>
        <div class="row feature">
            <div class="col-sm-6 pic-right">
                <img src="img/showcase4.png" class="img-responsive" />
            </div>
            <div class="col-sm-6 info">
                <h3>
                    <img src="img/features-ico3.png" />
                    Fosters Transparency and Visibility
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
                </p>
            </div>
        </div>
    </div>
</div>