<!-- starts footer -->
<footer id="footer">
    <div class="container">
        <div class="row info" id="contact">
            <div class="col-sm-7 residence">
                <div class="footer_header">
                    Contact
                </div>
                <ul>
                    <li><strong>合同会社 Georepublic Japan</strong></li>
                    <li>〒151-0071 東京都渋谷区本町3-24-14</li>
                </ul>
                <ul>
                    <li><strong>eMail:</strong><a href="#"> info@georepublic.co.jp</a></li>
                    <li><strong>Tel.:</strong> +81 (03) 4578 9352</li>
                </ul>
            </div>
        </div>

        <div class="row credits">
            <div class="col-md-12">
                <div class="row social">
                    <div class="col-md-12">
                        <a href="https://www.facebook.com/shirasete.jp" class="facebook">
                            <span class="socialicons ico1"></span>
                            <span class="socialicons_h ico1h"></span>
                        </a>
                        <a href="https://twitter.com/shirasetejp" class="twitter">
                            <span class="socialicons ico2"></span>
                            <span class="socialicons_h ico2h"></span>
                        </a>
                        <a href="https://plus.google.com/102707055965487371605" rel="publisher" class="gplus">
                            <span class="socialicons ico3"></span>
                            <span class="socialicons_h ico3h"></span>
                        </a>
                        <!-- <a href="#" class="flickr">
                            <span class="socialicons ico4"></span>
                            <span class="socialicons_h ico4h"></span>
                        </a> -->
                        <!-- <a href="#" class="pinterest">
                            <span class="socialicons ico5"></span>
                            <span class="socialicons_h ico5h"></span>
                        </a> -->
                        <!-- <a href="#" class="dribble">
                            <span class="socialicons ico6"></span>
                            <span class="socialicons_h ico6h"></span>
                        </a> -->
                        <!-- <a href="#" class="behance">
                            <span class="socialicons ico7"></span>
                            <span class="socialicons_h ico7h"></span>
                        </a> -->
                    </div>
                </div>
                <div class="row copyright">
                    <div class="col-md-12">
                        © 2013 <a href="http://georepublic.info">Georepublic</a>. All rights reserved.
                    </div>
                </div>
            </div>            
        </div>
    </div>
</footer>