<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">ナビゲーションを切り替え</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{site.baseurl}}">
                    <img id="logo-header" src="{{site.baseurl}}assets/img/logo_48_48.png" alt="すぐレポ">
                    <strong>すぐレポ</strong>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="{{site.baseurl}}#features">概要</a>
                    </li>                    
                    <li class="dropdown">
                        <a href="{{site.baseurl}}tour">ツアー</a>
                    </li>                    
                    <li class="dropdown">
                        <a href="{{site.baseurl}}start">始めよう</a>
                    </li>                    
                    <li class="dropdown">
                        <a href="{{site.baseurl}}news">ニュース</a>
                    </li>                    
                    <li class="dropdown">
                        <a href="{{site.baseurl}}contact">お問い合わせ</a>
                    </li>                    
                    <!-- <li class="hidden-sm"><a class="search"><i class="icon-search search-btn"></i></a></li> -->
                </ul>
                <div class="search-open">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="検索">
                        <span class="input-group-btn">
                            <button class="btn-u" type="button">Go</button>
                        </span>
                    </div><!-- /input-group -->
                </div>                
            </div><!-- /navbar-collapse -->
        </div>    
    </div>    
</div><!--/header-->
