<div class="top">
    <div class="container">         
        <ul class="loginbar pull-right">
            <li>
                <a href="https://itunes.apple.com/de/app/zhirasete.jp/id744954893">iPhone (Beta) <i class="icon-apple"></i></a>
            </li>
            <li class="devider"></li>
            <li>
                <a href="#">Android (Beta) <i class="icon-android"></i></a>
            </li>
            <li class="devider"></li>
            <li>
                <a href="http://beta.shirasete.jp">Browser (Beta) <i class="icon-laptop"></i></a>
            </li>
        </ul>
    </div>      
</div><!--/top-->
