<div class="top">
    <div class="container">         
        <ul class="loginbar pull-right">
            <li>
                <a href="{{site.data.links.apps.apple}}"><i class="icon-apple"></i> iOS</a>
            </li>
            <!-- <li class="devider"></li>
            <li>
                <a href="{{site.data.links.apps.google}}"><i class="icon-android"></i> Android</a>
            </li> -->
            <li class="devider"></li>
            <li>
                <a href="{{site.data.links.apps.redmine}}"><i class="icon-laptop"></i> Browser</a>
            </li>
            <li class="devider"></li>
            <li>
                <a href="{{site.baseurl}}help"><i class="icon-question-sign"></i> Help</a>
            </li>
        </ul>
    </div>      
</div><!--/top-->
