<div class="topbar">
    <div class="container">         
        <ul class="loginbar pull-right">
            <li>
                <a href="{{site.data.links.apps.apple}}"><i class="fa fa-apple"></i> iOS</a>
            </li>
            <!-- <li class="topbar-devider"></li>
            <li>
                <a href="{{site.data.links.apps.google}}"><i class="fa-android"></i> Android</a>
            </li> -->
            <li class="topbar-devider"></li>
            <li>
                <a href="{{site.data.links.apps.redmine}}"><i class="fa fa-laptop"></i> ブラウザ</a>
            </li>
            <li class="topbar-devider"></li>
            <li>
                <a href="{{site.baseurl}}help"><i class="fa fa-question-circle"></i> ヘルプ</a>
            </li>
        </ul>
    </div>      
</div><!--/top-->
