.box .form {
	text-align: center;
}

.box .form button {
	text-transform: uppercase;
	color: #fff;
	background: #187CCC;
	font-size: 15px;
	padding: 8px 18px;
	border: 0 none;
	border-radius: 3px;
	-webkit-transition: background linear .2s, box-shadow linear .2s;
	-moz-transition: background linear .2s, box-shadow linear .2s;
	-o-transition: background linear .2s, box-shadow linear .2s;
	transition: background linear .2s, box-shadow linear .2s;
}

.reset_page .box .form input[type="text"] {
	margin-bottom: 20px;
}

.navbar {
	margin-bottom: 0px;
}

#footer {
	margin-top: 30px;
}

.alert {
	margin-top: 0px;
	margin-bottom: 20px;
}

#feature_slider {
	margin-top: -60px;
}