<div class="headline headline-md"><h2>ニュースレターを退会</h2></div>

<p>ご利用ありがとうございました。メールアドレスを入力して退会ボタンを押してください。</p>

<form action="{{site.data.links.newsletter.unsubscribe}}" onkeypress="return event.keyCode != 13;">
    <div class="input-group margin-bottom-20">
        <span class="input-group-addon"><i class="icon-envelope"></i></span>
        <input type="text" class="form-control" name="email" placeholder="メールアドレス">
        <input type="hidden" name="list" value="{{site.data.links.newsletter.apikey}}">
        <input type="hidden" name="boolean" value="true">
    </div>
    <hr>
                            
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <button type="button" class="btn-u btn-block sendy" data-loading-text="Sending...">退会</button>
        </div>
    </div>
</form>
